.chart {
  width: max-content;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
}

.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid rgb(80, 180, 188);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms linear;
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(80, 180, 188);
  color: white;
}
